#board_container {
  background-color: aliceblue;
  width: 45vw;
  height: 45vw;
  border-radius: 16px;
  display: grid;
  grid-template-columns: auto 2px auto 2px auto;

  grid-template-rows: auto 2px auto 2px auto;
}

.box_element {
  padding:10%;
  
}

.inner_box {
    width: 100%;
    height: 100%;
}

.X {
  background-color: red;
}

.O {
  background-color: blue;
}

.border {
    background-color: black;
}