#board_container {
  background-color: #e30b5c;
  width: 45vw;
  height: 45vw;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 15vw 15vw 15vw;
  grid-template-rows: 15vw 15vw 15vw;
  justify-items: center;
  align-items: center;

  margin: 0 auto;
}

.box_element {
  padding: 10%;
  width: 10vw;
  height: 10vw;
  background-color: whitesmoke;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.box_element div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s forwards;
}
.x_line {
  stroke: #2978a0;
}

.o_path {
  stroke: #28afb0;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1022;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.btn {
  top: 0;
  left: 0;
  transition: all 0.15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: #e30b5c;
  text-transform: uppercase;
  color: #242423;
  font-family: arial;
  letter-spacing: 1px;
  box-shadow: -6px 6px 0 #242423;
  text-decoration: none;
  color: whitesmoke;
}
.btn:hover {
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 #242423;
}
.btn:hover::after {
  top: 1px;
  left: -2px;
  width: 4px;
  height: 4px;
}
.btn:hover::before {
  bottom: -2px;
  right: 1px;
  width: 4px;
  height: 4px;
}
.btn::after {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  top: 2px;
  left: -4px;
  width: 8px;
  height: 8px;
  background-color: #242423;
  transform: rotate(45deg);
  z-index: -1;
}
.btn::before {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  bottom: -4px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: #242423;
  transform: rotate(45deg);
  z-index: -1;
}
a.btn {
  position: relative;
}
a:active.btn {
  top: 6px;
  left: -6px;
  box-shadow: none;
}
a:active.btn:before {
  bottom: 1px;
  right: 1px;
}
a:active.btn:after {
  top: 1px;
  left: 1px;
}

#main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  width: 25vw;
  height: 5vh;
  background-color: #ffbc42;
  margin: 15px;
  color: #242423;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div .btn {
}

#button_container {
  width: 25vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffbc42;
  margin: 15px;
  padding: 10px;
  border-radius: 16px;
}

#counter_container {
  display: flex;
  align-items: center;
}

#counter_box {
  background-color: #ffbc42;
  height: 20vh;
  padding: 10px;
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin: 20px !important;
}

.score_keeper {
  display: flex;
  align-items: center;
  font-size: 64px;
  margin: 8px;
}

/* Slider */

#slider {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-radius: 16px;
  background-color: #ffbc42;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

#choose {
  background-color: #ffbc42;
  height: 7vh;
  padding: 10px;
  width: 18vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  margin: 20px !important;
}


#x_color {
  background-color: #ffbc42;
  /* stroke: #242423; */
  margin: 5px;
}

#o_color {
  background-color: #ffbc42;
  fill: #ffbc42;
  /* stroke: #242423; */

  margin: 5px;
}
