#board_container {
  background-color: aliceblue;
  width: 45vw;
  height: 45vw;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 15vw 15vw 15vw;
  grid-template-rows: 15vw 15vw 15vw;
  justify-items: center;
  align-items: center;
}

.board_row {
}

.box_element {
  padding: 10%;
  width: 10vw;
  height: 10vw;
  background-color: green;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_element div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_box {
}

.X {
  background-color: red;
}

.O {
  background-color: blue;
}

.border {
  background-color: black;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1022;
  }
  to {
    stroke-dashoffset: 0;
  }
}
